<h1 class="text-primary">Movie Management</h1>
<br />
<!-- Movie Datagrid aka table-->
<div class="row">
  <div class="col-md-6">
    <div *ngIf="movies.length === 0; else movieGrid">
      <h1 class="text-danger">There is no movies to display</h1>
    </div>
    <ng-template #movieGrid>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Cover</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mv of movies; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ mv?.title }}</td>
            <td>{{ mv?.description }}</td>
            <td>
              <img [src]="mv.cover" height="100" />
            </td>
            <td>
              <button class="btn btn-success"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          All Movies : {{movies.length}}
        </tfoot>
      </table>
    </ng-template>
  </div>

  <!-- inject the MovieForm -->
  <div class="col-md-6">
    <app-movie-form (onMovieAdded)="addMovieToTheList($event)"></app-movie-form>
  </div>
</div>
